@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: all ease 0.2s;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  background: $gradientBg;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  color: $gray;
  font-size: 1rem;
  line-height: 1.625rem;
}

img {
  max-width: 100%;
  display: block;
  line-height: 0;
}

picture {
  width: 100%;
}

a {
  color: $brightPink;
  font-weight: 700;
  text-decoration: none;
}

.btn {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 3.125rem;
}

.header {
  position: relative;
  margin: 2.75rem $paddingS20;
  display: flex;
  align-items: center;

  &__logo {
    position: absolute;
    top: auto;
    left: 0;
    fill: $darkBlue;
    width: 84px;
  }

  &__cta {
    position: absolute;
    right: 0;

    .btn-1 {
      background-color: $darkBlue;

      &:hover {
        opacity: $opacityBtnHover;
      }
    }
  }
}

.container {
  padding: 1rem $paddingS20;
}

.hero {
  margin-top: 3.125rem;

  &__text {
    padding-bottom: 3.125rem;
    max-width: 39rem;

    h1 {
      font-size: 2.5rem;
    }

    p {
      padding-bottom: 1.875rem;
    }

    .btn-2 {
      background: $gradientPink;
      &:hover {
        opacity: $opacityBtnHover;
      }
    }
  }

  &__img img {
    width: 100vw;
    margin: 0 auto;
    z-index: -1;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  padding-bottom: 5rem;

  .title-card {
    background: $gradientPink;
    padding: $paddingCard30;
    margin-bottom: $paddingCard30;
  }

  &__card {
    position: relative;
    background-color: $white;
    border-radius: 12px;
    padding: 3.75rem 1.75rem 2.5rem 1.75rem;
    cursor: pointer;

    &:hover {
      box-shadow: 0rem 1.6rem 3.2rem rgba(102, 108, 163, 0.2);
      transition: ease-in-out 0.3s;
      transform: scale(1.02);
    }

    & img {
      position: absolute;
      margin-top: -5rem;
    }

    & h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      color: white;
    }

    & h3 {
      font-size: 1.25rem;
    }

    & a {
      color: $brightPink;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkBlue;
  padding: 3.25rem 1.25rem;

  &__logo {
    position: absolute;
    left: $paddingS20;
    width: 84px;
  }

  &__cta {
    background: $gradientPurple;
    position: absolute;
    right: $paddingS20;

    &:hover {
      background: $gradientPink;
    }
  }
}

// Tablet styles

// 768px
@media (min-width: 48rem) and (max-width: 64rem) {
  .header {
    margin: 3rem 2.125rem;
  }

  .container {
    padding: 1.5rem 2.125rem;
  }

  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 57fr 43fr;
    margin: 7.5rem 0;

    &__img img {
      position: absolute;
      top: -90%;
      right: -48%;
      z-index: -1;
    }
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    row-gap: 3.5rem;

    &__card {
      height: 100%;
    }
  }

  .footer {
    &__logo {
      left: 2.125rem;
    }

    &__cta {
      right: 2.125rem;
    }
  }
}

// Desktop styles - S

// 1024px
@media (min-width: 64rem) {
  .hero {
    grid-template-columns: 48fr 52fr;
    margin: 7.5rem 0;

    &__text {
      h1 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.125;
        line-height: 1.75rem;
      }
    }

    &__img img {
      position: absolute;
      width: 90%;
      top: -100%;
      right: -35%;
      z-index: -1;
    }
  }
}

// Desktop styles - M

// 1440px
@media (min-width: 90rem) {
  .container {
    padding: 1rem $paddingXl260;
  }

  .header {
    position: relative;
    margin: 2.25rem $paddingXl260;
    display: flex;
    align-items: center;
    padding-top: 0.875rem;
  }

  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 50fr 50fr;
    margin-top: 7.5rem;
    margin-bottom: 15.625rem;

    &__text {
      p {
        padding-right: 8.75rem;
      }
    }

    &__img img {
      position: absolute;
      width: 62rem;
      top: -100%;
      right: -45%;
    }
  }

  .features {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem;
    row-gap: 5rem;

    &__card {
      height: 100%;
    }

    .title-card {
      h2 {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  .footer {
    &__logo {
      left: $paddingXl260;
    }

    &__cta {
      right: $paddingXl260;
    }
  }
}

// Desktop styles - L
// 1700px
@media (min-width: 106rem) {
  .header {
    margin: 2.25rem $paddingL300;

    &__logo {
      width: 112px;
    }
  }

  .container {
    padding: 1rem $paddingL300;
  }

  .hero {
    &__text {
      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }

    &__img img {
      width: 68.75rem;
    }
  }

  .footer {
    padding: 3.75rem $paddingL300;

    &__logo {
      left: $paddingL300;
      width: 112px;
    }

    &__cta {
      right: $paddingL300;
    }
  }
}
